<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>External Membership Disclosure</title>
        <link href="/bundle.css" rel="stylesheet"></head>
        <link href="/css/custom.css" rel="stylesheet"></head>
    </head>
    <body ng-app="edms">
        <div th:replace="fragments/header :: header"></div>
        <main class="main-fold">
            <div th:replace="fragments/sidebar :: sidebar"></div>
            <div layout:fragment="content"></div>
        </main>
        <div th:replace="fragments/footer :: footer"></div>
        <script src="/js/app.js"></script>

        <script src="/js/external/jquery-3.4.1.js"></script>
        <script src="/js/external/sweetalert.min.js"></script>
        <script src="/js/external/loadingoverlay.min.js"></script>

        <script src="/js/angularjs/vendor/angular.min.1.6.9.js"></script>
        <script src="/js/angularjs/vendor/angular-animate.min.js"></script>
        <script src="/js/angularjs/vendor/angular-aria.min.js"></script>
        <script src="/js/angularjs/vendor/angular-messages.min.js"></script>
        <script src="/js/angularjs/vendor/angular-route.js"></script>
        <script src="/js/angularjs/vendor/angular-resource.js"></script>
        <script src="/js/angularjs/vendor/angular-material.min.js"></script>

        <script src="/js/angularjs/init.js?x=1"></script>
        <script src="/js/angularjs/services/URLFactory.js"></script>
        <script src="/js/angularjs/services/UtilService.js"></script>
    </body>
</html>