<section th:fragment="sidebar" class="sidebar" xmlns:th="http://www.thymeleaf.org">
    <ul class="sidebar-items">
        <li>
            <a class="sidebar-anchor" href="review-disclosure.html">
                <img class="img-fluid" src="/src/images/svg/disclosure-list.svg" alt="Disclosure List">
                <span>Disclosure List</span>
            </a>
        </li>
        <li class="active">
            <a class="sidebar-anchor" href="disclosure-form.html">
                <img class="img-fluid" src="/src/images/svg/disclosure-form.svg" alt="Disclosure Form">
                <span>Disclosure Form</span>
            </a>
        </li>
        <li>
            <a class="sidebar-anchor" href="policy-agreement.html">
                <img class="img-fluid" src="/src/images/svg/policy.svg" alt="Policy">
                <span>Policy</span>
            </a>
        </li>
    </ul>
</section>